body{
  background: purple;
  font-family: Helvetica;
  display: flex;
  flex-wrap: wrap;
  }

h1{
color: white;
  text-align: center;
  width: 100%;
  display: block;
}

.assign{
  display: block;
  padding: 10px;
  margin: 10px;
  width: 20%;
  background: white;
  {

  .assign img{
    width: 200px;
    padding: 10px;
  }
