body{
  background-color: #cdea4898;
  font-family: sans-serif;
}

h1 {
color:#37a330;

}

.assign{
  display: flex;
  padding: 10px;
  margin: 10px;
  background-color: #d7ddb2;
  border-radius:15px;
  box-shadow: 6px 4px  #0910388a; 
}

.assign img{
  width: 200px;
  padding: 10px;
  border: 1px solid #749865;
}
  
.assign img:hover{
  width: 250px
}
a {
  text-decoration: none;
  color: #3a281f;
}
.assign a:hover{
   color: blue;
}
