body{
  background-color: pink;
  font-family: Helvetica;
  display: flex;
  flex-wrap: wrap;
  }

h1{
color: white;
  text-align: center;
  width: 100%;
  display: block;
}

.assign{
  back-ground color: grey;
  display: block;
  padding: 10px;
  margin: 10px;
  width: 20%;
  border-radius: 20px;
  box-shadow: 8px brown;

  
 
}

  .assign img: hover{
    width: 200px;
    margin: 10px;
    border: 2px dotted white;
  }

  
  a{
    text-decoration: none;
    color: black;
  }

img{
  width: 20px;
  height: 20px:
}
